{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "template.njk" %}

<!-- You may want to make further use of these components: https://design-system.service.gov.uk/components/
but ultimately it is up to you -->


{% block content %}
  <h1 class="govuk-heading-xl">Task List</h1>

  <!-- The freedom is yours. You can design the solution however you like, however there is a starting point provided
  to ensure you have both services running. You may want to make use of the Gov UK Components:
  https://design-system.service.gov.uk/components/ to add tabs and so forth :) -->

  {% if tasks %} 
  
  {% set taskRows = [] %}
  {% for task in tasks %}
    {% set taskRows = (taskRows.push({
      key: {
        text: task.title
      },
      value: {
        text: task.dueDate
      },
      actions: {        
        items: [
          {
            href: "/tasks/"+task.systemId,
            text: "Details",
            visuallyHiddenText: "title"
          },
          {
            href: "/delete/"+task.systemId,
            text: "Delete",
            visuallyHiddenText: "title"
          }
        ]
      }
    }), taskRows) %}
  {% endfor%}
 
  {{ govukSummaryList({    
    rows: taskRows
  }) }}

    {{ govukButton({
    text: "Create Task",
    href: "/create-task",
    isStartButton: false
  }) }}
 

  {% endif %}

{% endblock %}
